# ===================== Node Mood =====================

NODE_ENV="development"

# ===================== Localhost Ports =====================

BACKEND_PORT="3000"
FRONTEND_PORT="3200"

# ===================== Database Config =====================

DATABASE_HOST="localhost"
DATABASE_PORT="5432"
DATABASE_USER="your_db_user"
DATABASE_PASSWORD="your_db_password"
DATABASE_NAME="your_db_name"

# ===================== Google OAuth =====================

GOOGLE_CLIENT_ID="your-google-client-id.apps.googleusercontent.com"
GOOGLE_CLIENT_SECRET="your-google-client-secret"

# ===================== Encryption Key =====================

CRYPTO_KEY="your-strong-32-char-secret-key"

# ===================== JWT Secrets - Super Admin =====================

SUPER_ADMIN_ACCESS_TOKEN_SECRET="super_admin_access_secret"
SUPER_ADMIN_REFRESH_TOKEN_SECRET="super_admin_refresh_secret"

# ===================== JWT Secrets - Admin =====================

ADMIN_ACCESS_TOKEN_SECRET="admin_access_secret"
ADMIN_REFRESH_TOKEN_SECRET="admin_refresh_secret"

# ===================== JWT Secrets - User =====================

USER_ACCESS_TOKEN_SECRET="user_access_secret"
USER_REFRESH_TOKEN_SECRET="user_refresh_secret"