
# ===================== Localhost Ports =====================

BACKEND_PORT="3000"
FRONTEND_PORT="3200"

# ===================== Database Config =====================

DATABASE_HOST="localhost"
DATABASE_PORT="5432"
DATABASE_USER="postgres"
DATABASE_PASSWORD="postgres"
DATABASE_NAME="tamkin_db"
NODE_ENV="development"


# ===================== Google OAuth =====================

GOOGLE_CLIENT_ID="your-google-client-id.apps.googleusercontent.com"
GOOGLE_CLIENT_SECRET="your-google-client-secret"
 
# ===================== Encryption Key =====================

CRYPTO_KEY="a-very-strong-32-char-secret-key"

 
# ===================== JWT Secrets - Admin =====================

ADMIN_ACCESS_TOKEN_SIGNATURE="admin_access_secret_very_long_random_string"
ADMIN_REFRESH_TOKEN_SIGNATURE="admin_refresh_secret_very_long_random_string"


# ===================== JWT Secrets - User =====================

USER_ACCESS_TOKEN_SIGNATURE="user_access_secret_very_long_random_string"
USER_REFRESH_TOKEN_SIGNATURE="user_refresh_secret_very_long_random_string"